:root {
    --primary-color: #42a5f5;
    --primary-color-hover: #1e88e5;
    --warning-color: #ffc107;
    --warning-color-hover: #e6a700;
    --success-color: #66bb6a;
    --success-color-hover: #388e3c;
    --error-color: #f44336;
    --error-color-hover: #d32f2f;
    --disabled-color: rgba(255, 255, 255, 0.3);
    --disabled-text-color: #373838;
    --loading-spinner-color: rgba(0, 0, 0, 0.87);
    --default-text-color: rgba(0, 0, 0, 0.87);
    --spinner-border-color: rgba(255, 255, 255, 0.3);
    --spinner-border-color-2: rgba(255, 255, 255, 0.6);
}
