@import "../styles/tailwind.css";

.exsoft-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    line-height: 1;
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
    color: var(--default-text-color);
    letter-spacing: 0.02857em;
}

.exsoft-button--animated:hover {
    transform: translateY(-2px);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.exsoft-button--animated:active {
    transform: translateY(0);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
}

.exsoft-button--contained.exsoft-button--primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.exsoft-button--contained.exsoft-button--primary:hover {
    background-color: var(--primary-color-hover);
}

.exsoft-button--contained.exsoft-button--warning {
    background-color: var(--warning-color);
    border-color: var(--warning-color);
}
.exsoft-button--contained.exsoft-button--warning:hover {
    background-color: var(--warning-color-hover);
}

.exsoft-button--contained.exsoft-button--success {
    background-color: var(--success-color);
    border-color: var(--success-color);
}
.exsoft-button--contained.exsoft-button--success:hover {
    background-color: var(--success-color-hover);
}

.exsoft-button--contained.exsoft-button--error {
    background-color: var(--error-color);
    border-color: var(--error-color);
}
.exsoft-button--contained.exsoft-button--error:hover {
    background-color: var(--error-color-hover);
}

.exsoft-button--outlined {
    background-color: transparent;
    border: 1px solid;
}

.exsoft-button--outlined.exsoft-button--primary {
    color: var(--default-text-color);
    border-color: var(--primary-color);
}
.exsoft-button--outlined.exsoft-button--primary:hover {
    background-color: rgba(66, 165, 245, 0.2);
}

.exsoft-button--outlined.exsoft-button--warning {
    color: var(--default-text-color);
    border-color: var(--warning-color);
}
.exsoft-button--outlined.exsoft-button--warning:hover {
    background-color: rgba(255, 193, 7, 0.2);
}

.exsoft-button--outlined.exsoft-button--success {
    color: var(--default-text-color);
    border-color: var(--success-color);
}
.exsoft-button--outlined.exsoft-button--success:hover {
    background-color: rgba(102, 187, 106, 0.2);
}

.exsoft-button--outlined.exsoft-button--error {
    color: var(--default-text-color);
    border-color: var(--error-color);
}
.exsoft-button--outlined.exsoft-button--error:hover {
    background-color: rgba(244, 67, 54, 0.2);
}

.exsoft-button--small {
    padding: 0.8rem 1.6rem;
    font-size: 12px;
}
.exsoft-button--medium {
    padding: 1rem 1.5rem;
    font-size: 14px;
}
.exsoft-button--large {
    padding: 1.1rem 1.7rem;
    font-size: 16px;
}

.exsoft-button--text-small {
    font-size: 12px;
}
.exsoft-button--text-medium {
    font-size: 14px;
}
.exsoft-button--text-large {
    font-size: 16px;
}

.exsoft-button--fullWidth {
    width: 100%;
}

.exsoft-button--loading {
    cursor: wait;
    opacity: 0.8;
}
.exsoft-button--loading:hover {
    transform: translate(0);
}

.loading-spinner {
    border: 3px solid var(--spinner-border-color);
    border-radius: 50%;
    border-top: 3px solid var(--loading-spinner-color);
    width: 18px;
    height: 18px;
    animation: spin-with-trail 1s linear infinite;
}

.exsoft-button--disabled {
    background-color: var(--disabled-color);
    color: var(--disabled-text-color);
    box-shadow: none;
    cursor: not-allowed;
    transition: background-color 0.3s ease;
}

.exsoft-button--disabled:hover {
    transform: translate(0);
    box-shadow: unset;
}

@keyframes spin-with-trail {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(80deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
